name: haven

# use:
# prefer micromamba (conda takes much longer, if ever, to solve)
# micromamba installed in ~30s
#   date; micromamba create -y -n haven -f ./environment.yml; date
#   # then activate with:
#   eval "$(micromamba shell hook --shell=bash)"
#   micromamba activate haven
# conda installed in ~250s
#   date; conda env create --force -f ./environment.yml; date
#   # then activate with:
#   conda activate haven

variables:
  PYDM_DEFAULT_PROTOCOL: ca

channels:
  - conda-forge
  - aps-anl-tag
  - nsls2forge
  - nodefaults

dependencies:
  # --- Python core packages
  - python=3.10  # Until this is fixed in pydm: https://github.com/slaclab/pydm/issues/951
  - pip

  # This package is not available on pip as of 2024-07-25
  - aps-dm-api >=5
  
  # --- Qt (tends to cause problems when installed through pip
  # Optional: Pin at 5.12.3 until pydm figures out how to designer widgets
  # - pyqt ==5.12.3
  # - pyqtgraph < 0.13.0  # Last version to support pyqt 5.12
  # - qt >=5.12
  - qt >= 5.15
  - pyqt >= 5.15  

  - pip:
    - aioca
    - aiokafka
    - asynctest
    - apsbss < 2.0
    - time-machine
    - rich
    - autoapi
    - pytest-mongodb
    - StrEnum
    - ophyd-registry >= 1.3.3
    - guarneri >= 0.2.0
    - xraydb >=4.5.0
    - pytest-timeout  # Get rid of this if tests are not hanging
    - git+https://github.com/pcdshub/pcdsdevices
    - area-detector-handlers
    - bluesky-queueserver
    - bluesky-queueserver-api
    - bluesky-widgets
    - bluesky-adaptive
    # - bluesky >=1.13.1
    - git+https://github.com/bluesky/bluesky.git@v1.13.1rc1  # Replace with pypi version once released
    - ophyd >=1.6.3
    - ophyd-async == 0.9.0a1
    - apstools == 1.6.20  # Leave at 1.6.20 until this is fixed: https://github.com/BCDA-APS/apstools/issues/1022
    - pcdsdevices  # For extra signal types
    - pydm >=1.18.0
    - typhos >= 3.1.0  # need the find_signal method on the SignalConnection()
    - p4p
    - tiled[all] >= 0.1.0b6  # Make sure we have pydantic2 support
    - bluesky_tiled_plugins
    - xarray !=2022.6.0  # incompatible with numpy=1.20
    - ipython
    - ipykernel
    - jupyter
    - jupyterlab
    - notebook
    - pip
    - psutil
    - numba>=0.56  # Ensures 0.53 (broken) isn't installed
    # This version of networkx has an importlib bug in it
    - networkx < 3.3
    # Version 0.38.3 doesn't work properly with tiled
    - starlette <= 0.38.2
    # --- testing and quality assurance
    - black >=24
    - flake8
    - pre-commit
    - pylint
    - pytest
    - pytest-cov
    - pytest-qt >=4.2.0
    - pytest-xvfb
    - pytest-mock
    - pytest-asyncio
    - caproto >=1.0.0
    # Database management
    - pymongo
    - databroker-pack
    - databroker==1.2.5    
    # --- packaging and publishing
    - build
    - twine
    - coverage
    - poetry
    - sphinx
    - pandoc
    - nbsphinx
    - graphviz
    - sphinxcontrib-napoleon
    # --- general support packages
    - bitshuffle
    - h5py
    - dask >= 2022
    - hdf5plugin
    - imagecodecs-lite
    - ipympl
    - lxml
    - pandas
    - pint
    - scikit-image
    - xlrd
    - tqdm
    - peakutils
    - xrayutilities
    - pyarrow < 11.0.0  # Tempoary fix, remove once the libort missing symbol doesn't break CI
    - pyarrow-hotfix
    # XES analysis packages
    - scikit-learn
    - kneed
    # --- Extra Qt UI packages
    - pyqtgraph
    - qtawesome
    - qasync
