[project]
name = "haven-spc"
version = "2025.02.1"
authors = [
  { name="Mark Wolfman", email="wolfman@anl.gov" },
]
description = "Tools and GUI for running the spectroscopy group beamlines at the Advanced Photon Source."
readme = "README.md"
requires-python = ">=3.11"
classifiers = [
    "Programming Language :: Python :: 3",
    "Operating System :: OS Independent",
    "Development Status :: 3 - Alpha",
    "Topic :: Scientific/Engineering",
    "Topic :: System :: Hardware",
]
license = "BSD-3-clause"
keywords = ["synchrotron", "xray", "bluesky"]
dependencies = ["aioca", "aiokafka", "bluesky", "ophyd",
	        "ophyd-async>=0.9.0a2", "apsbss", "xraydb",
	        "mergedeep", "xrayutilities", "bluesky-queueserver-api", "tomlkit",
		"apstools", "apsbits", "ophyd-registry>=2.0.0rc1", "caproto", "pcdsdevices",
		"bluesky-adaptive", "tiled[client]", "guarneri>=0.2.0",
		"httpx[http2]"]

[project.optional-dependencies]

dev = ["black", "pytest", "asynctest", "build", "twine", "pytest-httpx",
       "time-machine", "pytest-mock", "pytest-qt", "flake8", "pytest-asyncio",
       "pytest_httpx"]
gui = ["qtawesome", "pydm<=1.24.1", "pyqtgraph", "qasync", "tiled[all]"]

[project.urls]
"Homepage" = "https://haven-spc.readthedocs.io/en/latest/"
"Bug Tracker" = "https://github.com/spc-group/haven/issues"

[project.entry-points."pydm.data_plugin"]
HavenPlugin = "firefly.pydm_plugin:HavenPlugin"

[project.scripts]
haven_config = "haven._iconfig:print_config_value"
haven_queueserver = "queueserver.launch_queueserver:launch_queueserver"
databroker_consumer = "queueserver.databroker_consumer:main"
tiled_consumer = "queueserver.tiled_consumer:main"

[project.gui-scripts]
firefly = "firefly.launcher:main"
firefly_cameras = "firefly.launcher:cameras"

[tool.setuptools.package-data]
firefly = ["firefly.qss"]
# This might be necessary in the future for BITS compatibility
# "" = "src"

[tool.setuptools_scm]

[build-system]
requires = ["setuptools>=61.0", "setuptools-scm>=8.0"]
build-backend = "setuptools.build_meta"

[tool.isort]
profile = "black"

[tool.versioneer]
VCS = "git"
style = "pep440"
versionfile_source = "src/haven/_version.py"
versionfile_build = "haven/_version.py"
tag_prefix = "haven-"
parentdir_prefix = "haven-"
