[Unit]
Description=Apache Kafka
Requires=zookeeper.service
After=zookeeper.service

[Service]
Type=simple

ExecStart=/local/s25staff/kafka/bin/kafka-server-start.sh %h/src/queueserver/kafka_server.properties
ExecStop=/local/s25staff/kafka/bin/kafka-server-stop.sh
# ExecStopPost=/APSshare/epics/base-7.0.7/bin/rhel8-x86_64/caput 100id:bluesky:kafka_state 1
# ExecStartPost=/APSshare/epics/base-7.0.7/bin/rhel8-x86_64/caput 100id:bluesky:kafka_state 2

[Install]
WantedBy=multi-user.target
