[Unit]
Description=consumer for saving bluesky documents to database via kafka
After=syslog.target network.target
Wants=kafka.service
After=kafka.service

[Service]
ExecStart=/bin/bash -l -c 'mamba activate haven && mongo_consumer'
Restart=always
RestartSec=60
# ExecStopPost=/APSshare/epics/base-7.0.7/bin/rhel8-x86_64/caput 100id:bluesky:mongo_consumer_state 1
# ExecStartPost=/APSshare/epics/base-7.0.7/bin/rhel8-x86_64/caput 100id:bluesky:mongo_consumer_state 2

[Install]
WantedBy=default.target
