[Unit]
Description=Bluesky Queue Server (25-ID-C)
Requires=redis.service
After=redis.service

[Service]
ExecStart=/bin/bash -l -c 'micromamba activate haven && %h/src/queueserver/queueserver.sh'
# ExecStopPost=/APSshare/epics/base-7.0.7/bin/rhel8-x86_64/caput 100id:bluesky:queueserver_state 1
# ExecStartPost=/APSshare/epics/base-7.0.7/bin/rhel8-x86_64/caput 100id:bluesky:queueserver_state 2

[Install]
WantedBy=default.target
Alias=queueserver.service
